body {
    background-color: rgb(235, 225, 225);
    color: black;
    padding: 48px 128px;
}
  
.header {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    padding: 10px;
    text-align: center; 
  }
  
  .profile-picture {
    flex: 0 1 500px;
    width: 20vw;
    height: 20vw;
    max-width: 300px;
    max-height: 400px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
    margin-left: 60px;
    margin-top: 70px;
  }
  
  .img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .first-paragraph {
    max-width: 600px;
    text-align: center;
    margin: 10px auto; 
    line-height: 1.6; 
  }
  
  
.first-name{
    color: rgb(2, 2, 123);
    font-size: 56px;
    font-weight: 400;
    margin-bottom: 0px;
}
.main-text{
    font-size: 20.8px;
    font-weight: 500;
}
.dot-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px; 
    margin: 20px 0; 
  }
  
  .dot {
    width: 8px; 
    height: 8px; 
    border-radius: 50%;
    background-color: rgb(220, 26, 172); 
    margin-top: 40px;
  }
.portfolio-text{
    color: rgb(2, 2, 123);
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.middle-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  
}
.middle-section img{
    max-width: 300px;
    height: 300px;
    border-radius: 50%;
    border-style: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
    object-fit: cover;
}

.first-row{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 40px;
    
}
.txt1{
    font-size: large;
    font-weight: bold;
    margin-bottom: 0px;
}
.mid-info{
    color: rgb(73, 73, 73);
    font-size: 19.2px;
   
}
.button1{
    background-color: rgb(0, 123, 255);
    color: white;
    border-style: none;
    border-radius: 3px;
    padding: 6px 12px;
    height: 35px;
    margin-top: 20px;
    
}
.button1:hover{
  background-color: blue;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.my-skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.skill-button{
  position: relative;
  padding: 3px 8px;
  border-radius: 6px;
  border-style: solid;
  font-size: 14px;
  border-color: rgb(78, 77, 77);
  background-color: rgb(235, 225, 225);
}
.tooltip {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: -150%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.skill-button:hover{
  cursor: pointer;
}
.skill-button:hover .tooltip {  
  visibility: visible;
  opacity: 1;
}
.star-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.star-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
}
.star-skill-text{
  display: flex;
  align-items: center;;
  margin: 0px 0;
}
.star-skill-text i {
  margin-right: 8px; 
}
.star-p{
  margin-top: 5px;
  margin-bottom: 5px;
}
.career-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-first{
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}
.info-second{
  margin-top: 5px;
  color: rgb(78, 75, 75);
  font-weight: bold;
}
.skill-paragraph {
  color: blue;
  font-size: large;
  font-weight: bold;
  position: relative;  
  border-radius: 6px; 
  background-color: rgb(235, 225, 225); 
  cursor: pointer; 
  display: inline-block; 
  text-align: center; 
  margin-top: -10px;
  margin-bottom: -20px;

}
.tooltip-second{
  font-size: small;
  visibility: hidden; 
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: -100%; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  white-space: nowrap;
  opacity: 0; 
  transition: opacity 0.3s ease; 
}
.skill-paragraph:hover{
  color: red;
}
.skill-paragraph:hover .tooltip-second {
  visibility: visible; 
  opacity: 1; 
}
.contact-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.my-skills-contact{
  display: flex;
  align-items: center; 
}
.skill-paragraph-contact{
  color: blue;
  font-size: large;
  font-weight: bold;
  position: relative;  
  border-radius: 6px; 
  background-color: rgb(235, 225, 225); 
  cursor: pointer; 
  display: inline-block; 
  text-align: center; 
  margin: 10px 0px;
}
.tooltip-third{
  font-size: small;
  visibility: hidden; 
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: -150%; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  white-space: nowrap;
  opacity: 0; 
  transition: opacity 0.3s ease;
}
.skill-paragraph-contact:hover .tooltip-third {
  visibility: visible; 
  opacity: 1; 
}
.skill-paragraph-contact:hover{
  color: red;
}
.skill-paragraph-name{
  margin: 10px 0px;
}
.footer1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright-text{
  color: rgb(119, 117, 117);
}

.email-link {
  text-decoration: none;
  color: inherit; 
  font-weight: bold; 
}

.email-link:hover {
  text-decoration: underline; 
  color: #0077b5;
}

.linkedin-link {
  text-decoration: none;
  color: inherit; 
  font-weight: bold; 
}

.linkedin-link:hover {
  text-decoration: underline; 
  color: #0077b5; 
}


@media (max-width: 376px) {
  body {
    background-color: rgb(235, 225, 225);
    color: black;
    padding: 1px;
}
  p {
    font-size: 12px;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-picture {
    width: 50vw;
    height: 50vw;
    max-width: 150px;
    max-height: 150px;
    margin-left: 0;
    margin-top: 20px;
  }
  .first-name {
    font-size: 16px;
  }
  .portfolio-text {
    font-size: 14px;
  }
  
  .middle-section img {
    max-width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  .middle-section{
    gap: 0;
  }
  .txt1 {
    font-size: 12px;
  }
  .mid-info {
    font-size: 14px;
  }
  .button1 {
    width: 100%;
    padding: 10px 0;
  }
  .my-skills {
    gap: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .skill-button {
    width: 80px;
    font-size: 12px;
  }
  .star-container {
    flex-direction: column;
    align-items: center;
  }
  .footer1 {
    flex-direction: column;
  }
  .copyright-text {
    font-size: 12px;
  }
  .button1 {
    max-width: 200px;
  }
  .skill-paragraph,
  .skill-paragraph-contact,
  .skill-paragraph-name {
    font-size: 14px;
  }
  .dot {
    width: 8px;
    height: 3px;
    border-radius: 50%;
    background-color: rgb(220, 26, 172);
    margin-top: 40px;
  }
}


@media (min-width: 377px) and (max-width: 426px) {
  body {
    background-color: rgb(235, 225, 225);
    color: black;
    padding: 1px;
  }
  p {
    font-size: 13.5px;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-picture {
    width: 50vw;
    height: 50vw;
    max-width: 150px;
    max-height: 150px;
    margin-left: 0;
    margin-top: 20px;
  }
  .first-name {
    font-size: 20px;
  }
  .portfolio-text {
    font-size: 14px;
  }
  
  .middle-section img {
    max-width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  .middle-section{
    gap: 0;
  }
  .txt1 {
    font-size: 12px;
  }
  .mid-info {
    font-size: 14px;
  }
  .button1 {
    width: 100%;
    padding: 10px 0;
  }
  .my-skills {
    gap: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .skill-button {
    width: 80px;
    font-size: 12px;
  }
  .star-container {
    flex-direction: column;
    align-items: center;
  }
  .footer1 {
    flex-direction: column;
  }
  .copyright-text {
    font-size: 13px;
  }
  .button1 {
    max-width: 200px;
  }
  .skill-paragraph,
  .skill-paragraph-contact,
  .skill-paragraph-name {
    font-size: 14px;
  }
  .dot {
    width: 8px;
    height: 3px;
    border-radius: 50%;
    background-color: rgb(220, 26, 172);
    margin-top: 40px;
  }
}


@media (min-width: 427px) and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-picture {
    width: 50vw;
    height: 50vw;
    max-width: 150px;
    max-height: 150px;
    margin-left: 0;
    margin-top: 30px;
  }
  .first-name {
    font-size: 36px;
  }
  .portfolio-text {
    font-size: 28px;
  }
  .middle-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 80px;
  }
  .first-row {
    width: calc(50% - 20px);
    max-width: 120px;
  }
  .middle-section img {
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  .txt1 {
    font-size: 20px;
  }
  .mid-info {
    font-size: 18px;
  }
  .button1 {
    width: 100%;
    padding: 10px 0;
  }
  .my-skills {
    gap: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .skill-button {
    width: 130px;
    font-size: 14px;
  }
  .star-container {
    flex-direction: column;
    align-items: center;
  }
  .footer1 {
    flex-direction: column;
  }
  .copyright-text {
    font-size: 14px;
  }
  .button1 {
    max-width: 200px;
  }
  .skill-paragraph,
  .skill-paragraph-contact,
  .skill-paragraph-name {
    font-size: 18px;
  }
  .dot {
    width: 20px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(220, 26, 172);
    margin-top: 40px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  body {
    background-color: rgb(235, 225, 225);
    color: black;
    padding: 1px;
  }
  p {
    font-size: 13.5px;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-picture {
    width: 60vw;
    height: 60vw;
    max-width: 190px;
    max-height: 190px;
    margin-left: 0;
    margin-top: 20px;
  }
  .first-name {
    font-size: 34px;
  }
  .portfolio-text {
    font-size: 28px;
  }
  
  .middle-section img {
    max-width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
  }
  .middle-section{
    gap: 10;
  }
  .txt1 {
    font-size: 18px;
  }
  .mid-info {
    font-size: 15px;
  }
  .button1 {
    width: 100%;
    padding: 10px 0;
  }
  .my-skills {
    gap: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .skill-button {
    width: 200px;
    font-size: 17px;
  }
  .star-container {
    flex-direction: column;
    align-items: center;
  }
  .footer1 {
    flex-direction: column;
  }
  .copyright-text {
    font-size: 13px;
  }
  .button1 {
    max-width: 200px;
  }
  .skill-paragraph,
  .skill-paragraph-contact,
  .skill-paragraph-name {
    font-size: 18px;
  }
  .dot {
    width: 8px;
    height: 3px;
    border-radius: 50%;
    background-color: rgb(220, 26, 172);
    margin-top: 40px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  body {
    background-color: rgb(235, 225, 225);
    color: black;
    padding: 1px;
  }
  p {
    font-size: 17px;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    margin-right: 50px;
    column-gap: 30px;
  }
  .profile-picture {
    width: 60vw;
    height: 60vw;
    max-width: 186px;
    max-height: 186px;
    margin-left: 0;
    margin-top: 20px;
    object-fit: cover;
  }
  .first-name {
    font-size: 40px;
  }
  .portfolio-text {
    font-size: 32px;
  }
  
  .middle-section img {
    max-width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
  }
  .middle-section{
    gap: 10;
  }
  .txt1 {
    font-size: 18px;
  }
  .mid-info {
    font-size: 17px;
  }
  .button1 {
    width: 100%;
    padding: 10px 0;
  }
  .my-skills {
    gap: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .skill-button {
    width: 200px;
    font-size: 17px;
  }
  .star-container {
    flex-direction: column;
    align-items: center;
  }
  .footer1 {
    flex-direction: column;
  }
  .copyright-text {
    font-size: 17px;
  }
  .button1 {
    max-width: 200px;
  }
  .skill-paragraph,
  .skill-paragraph-contact,
  .skill-paragraph-name {
    font-size: 18px;
  }
  .dot {
    width: 8px;
    height: 3px;
    border-radius: 50%;
    background-color: rgb(220, 26, 172);
    margin-top: 40px;
  }
}

@media (min-width: 1440px) and (max-width: 2559px) {
  body {
    background-color: rgb(235, 225, 225);
    color: black;
    padding: 1px;
  }
  p {
    font-size: 19px;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 140px;
    margin-right: 140px;
    column-gap: 30px;
  }
  .profile-picture {
    width: 60vw;
    height: 60vw;
    max-width: 286px;
    max-height: 286px;
    margin-left: 0;
    margin-top: 20px;
    object-fit: cover;
  }
  .first-name {
    font-size: 48px;
  }
  .portfolio-text {
    font-size: 36px;
  }
  
  .middle-section img {
    max-width: 240px;
    height: 240px;
    border-radius: 50%;
    object-fit: cover;
  }
  .middle-section{
    gap: 60px;
  }
  .txt1 {
    font-size: 26px;
  }
  .mid-info {
    font-size: 20px;
  }
  .button1 {
    width: 100%;
    padding: 10px0;
    font-size: 20px;
  }
  .my-skills {
    gap: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .skill-button {
    width: 240px;
    font-size: 24px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .star-container {
    flex-direction: column;
    align-items: center;
  }
  .star-p{
    font-size: 24px;
  }
  .footer1 {
    flex-direction: column;
  }
  .copyright-text {
    font-size: 17px;
  }
  .button1 {
    max-width: 200px;
  }
  .skill-paragraph,
  .skill-paragraph-contact,
  .skill-paragraph-name {
    font-size: 22px;
  }
  .dot {
    width: 8px;
    height: 3px;
    border-radius: 50%;
    background-color: rgb(220, 26, 172);
    margin-top: 40px;
  }
}

@media (min-width: 2560px) {
  body {
    background-color: rgb(235, 225, 225);
    color: black;
    padding: 1px;
  }
  p {
    font-size: 40px;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  .first-paragraph{
    margin: 50px;
    max-width: 800px;
  }
  .main-text{
    font-size: 46px;
  }
  .profile-picture {
    width: 60vw;
    height: 60vw;
    max-width: 486px;
    max-height: 486px;
    margin-left: 0;
    margin-top: 20px;
    object-fit: cover;
  }
  .first-name {
    font-size: 88px;
  }
  .portfolio-text {
    font-size: 54px;
  }
  
  .middle-section img {
    max-width: 440px;
    height: 440px;
    border-radius: 50%;
    object-fit: cover;
  }
  .middle-section{
    gap: 150px;
  }
  .txt1 {
    font-size: 46px;
  }
  .mid-info {
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  .button1 {
    width: 100%;
    padding: 10px0;
    font-size: 40px;
    border-radius: 12px;
    max-width: 440px;
    height: auto;
  }

  .button1:active{
    width: 100%;
    padding: 10px0;
    font-size: 40px;
    border-radius: 12px;
    max-width: 440px;
    height: auto;
  }
  .my-skills {
    gap: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .skill-button {
    width: 240px;
    font-size: 34px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .star-container {
    flex-direction: column;
    align-items: center;
  }
  .star-p{
    font-size: 34px;
  }
  .footer1 {
    flex-direction: column;
  }
  .copyright-text {
    font-size: 27px;
  }

  .skill-paragraph,
  .skill-paragraph-contact,
  .skill-paragraph-name {
    font-size: 40px;
  }
  .dot {
    width: 8px;
    height: 3px;
    border-radius: 50%;
    background-color: rgb(220, 26, 172);
    margin-top: 40px;
  }
}


@media (max-width: 1023px) {
  .tooltip {
    display: none;
  }
  .message-span,
  .tooltip-btn,
  .tooltip-second,
  .tooltip-third {
    display: none;
  }
  .powered-btn:hover {
    background-color: transparent;
    transform: none;
  }
  .city-label:hover + .tooltip-third {
    visibility: hidden;
    opacity: 0;
  }
}
